$redColor: #DC3E22;
$darkRedColor: #B7280F;
$paleRedColor: #EE735D;
$lightPaleRedColor: #EA8979;
$darkGreenColor: #899441;
$lightGreenColor: #A8B64F;
$lightYellowColor: #FFDDA9;
$darkYellowColor: #FFAE35;
$lightPurpleColor: #DFDCFE;
$darkPurpleColor: #9C97D7;
$lightCyanColor: #C5F1FF;
$darkCyanColor: #7FC2D7;
$grayColor99: #999999;
$grayColorDE: #DEDEDE;
$grayColorC4: #C4C4C4;
$grayColorEC: #ECECEC;
$grayColorE4: #E4E4E4;
$grayColorF4: #F4F4F4;
$whiteColor: #FFFFFF;
$blackColor: #333333;